<!-- copyright 2018 Jordan Campbell for trig productions -->

<!DOCTYPE html>
<html>
  <head>
    <!-- <title>Trig Productions</title> -->
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  </head>

  <body>

    <iframe id="homepage-video" width="560" height="315" src="https://www.youtube.com/embed/BwBcKSSoizA?rel=0&amp;controls=0&amp;showinfo=0;autoplay=1" frameborder="0" allow="autoplay; encrypted-media" autoplay loop allowfullscreen></iframe>

    <h1 class="title">trig <br>productions</h1>
    <img class="triangle" src="images/logo_color.png" alt="menu" height="140" width="140">

    <div class="menu">
      <ul>
        <li id="about">about</li>
        <li id="people">team</li>
        <li id="projects">projects</li>
        <li id="contact">contact</li>
      </ul>
    </div>

    <div class="horizontal-container people" id="feministas">

      <div class="grid-item" id="cianna">
        <img class="" src="images/cianna-medium.jpg" alt="cianna" height="500" width="325" id="cianna-img">
        <p class="name-text" id="cianna-name-text">cianna</p>
      </div>

      <div class="grid-item" id="lindsay">
        <img class="" src="images/lindsay-medium.jpg" alt="lindsay" height="500" width="325" id="lindsay-img">
        <p class="name-text" id="lindsay-name-text">lindsay</p>
      </div>

      <div class="grid-item" id="nina">
        <img class="" src="images/nina-medium.jpg" alt="nina" height="500" width="325" id="nina-img">
        <p class="name-text" id="nina-name-text">nina</p>
      </div>

      <div class="grid-item">
        <p class="person-desc" id="cianna-desc">
          Originally from the UK, Cianna’s love for exploring different countries and cultures has led her to live in New Zealand, Singapore and now Spain.<br><br>
          ​Cianna has been drawn to visual media from a young age. This started with photography and has developed into a passion for the broader storytelling options
           that filmmaking offers. Her background centres around both fiction and documentary film exhibition, outreach and publicity. In more recent years she has moved
           into production, which has involved working as an editorial assistant for a web-based documentary project and as a co-director and producer.
        </p>
     </div>

     <div class="grid-item">
       <p class="person-desc" id="lindsay-desc">
         Lindsay’s passion for filmmaking is driven by her want to visually tell stories. She is drawn to both fiction and non-fiction as she puts character driven stories as her top priority.
          She is excited to explore all that Barcelona has to offer creatively with Trig Productions.<br><br>
         Lindsay’s love for filmmaking started at a young age and it slowly grew into the area she wanted a career in. She studied at the University of the West of Scotland and gained a BA (Hons)
          degree in filmmaking and screenwriting. Since then she has gone on to do a range of courses and training programmes to build on her knowledge and skills of film production. Lindsay has had
          experience creating independent content as well as working for STV Aberdeen.
          </p>
      </div>

      <div class="grid-item">
        <p class="person-desc" id="nina-desc">
          As a co-director of Trig Productions, she is really looking forward to discovering new stories in the city and working collaboratively within the creative hub of Barcelona city.<br><br>
          After studying Philosophy and Theology at the University and Edinburgh, she began to pursue an interest in documentary filmmaking and storytelling, and went on to complete further
          training at the National Film and Television School (in the UK).<br><br>
          Nina has experience working with the BBC, and other independent production companies such as Magic Light Pictures, and Mozart Films in the UK.
       </p>
     </div>

     <div class="grid-item"></div>
     <div class="grid-item"></div>
     <div class="grid-item"></div>

    </div>

    <div class="contact-details" id="details">


      <div class="outer">
      <div class="middle">
        <div class="inner">
          <div class="social">
            <span id="contact-email">trigpds@gmail.com</span>
            <a href="https://www.facebook.com/Trig-Productions-1207579712678309/" target="_blank"><img class="" src="images/FB-f-Logo__blue_72.png" alt="facebook" height="60" width="60"></a>
            <a href="https://www.instagram.com/trig_productions/?hl=en" target="_blank"><img class="" src="images/IG_Glyph_Fill.jpg" alt="insta" height="90" width="90"></a>
            <!-- style="padding-left:-20px" -->
            <a href="https://twitter.com/Trig_BCN" target="_blank"><img class="" src="images/Twitter_Social_Icon_Circle_Color.png" alt="twitter" height="60" width="60"></a>
            <a href="https://www.linkedin.com/company/trigproductions/" target="_blank"><img class="" src="images/In-2C-75px-R.png" alt="linkedin" height="60" width="60"></a>
          </div>
        </div>
      </div>
    </div>

      <!-- <div class="social">
        <img class="" src="images/glyph-logo_May2016.png" alt="insta" height="60" width="60">
        <span id="insta-text">Come see our photos!</span>
      </div>
      <div class="social">
        <img class="" src="images/glyph-logo_May2016.png" alt="insta" height="60" width="60">
        <span id="insta-text">Sometimes we Tweet!</span>
      </div>
      <div class="social">
        <span id="contact-email">📧</span>
        <span id="insta-text">trigpds@gmail.com</span>
      </div> -->
    </div>

    <div class="about-section" id="about-trig">
      <p>
        Trig Productions is a Barcelona based production company that specialises in creating commercial and documentary content. We create dynamic and stylised video content highlighting the stories behind the faces and brands that form this European cultural hub.<br><br>

        Before settling in Barcelona, Cianna Canning was the Audience Development Coordinator at New Zealand International Film Festival, Lindsay Hynds was a wildlife photographer in South Africa, and Nina Palmier-Robertson worked as an assistant producer in London. We first worked together as co-directors in collaboration with OTOXO Productions on the documentary All to Play For (Todo por jugar), after which we established Trig Productions.<br><br>

        In an age when customers engage most with authenticity, we use our skills as documentarians to tell the stories at the heart of your business and showcase what makes you unique. We handle all aspects of production in-house in order to facilitate smooth communication and ensure the highest quality video content, from concept to screen.<br><br>

        As a newly established production company, we are currently offering outstanding introductory rates for first time clients.<br><br>

        Contact us to know more about the services we offer or to discuss a quote for a potential project.
      </p>
    </div>


    <div class="projects" id="atpf">
      <h1>All to Play For (Todo por jugar)</h1>

      <div class="project-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/zljpnua8Kb0?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <p>
        New documentary, <span style="font-style: italic;">All to Play For</span>, follows the journey of the 18 players that form the team FC Pol Positiu. Young Men are the most at-risk demographic on the mental health compass. They have limited spaces where they can be open about their conditions, without the fear of stigma. The changing rooms, bench and pitch of FC Pol Positiu, are one of those spaces.
        <br><br>
        But health, like football, is rarely straightforward. As the season progresses, the team face struggles with both form and health, and certain members even find themselves watching from the side lines.
        <br><br>
        Can FC Pol Positiu stay on track? And can football continue to provide a source of hope and relief for the team? It’s all to play for.
      </p>
      <!-- <br><br> -->
      <img class="atpf-image" src="images/atpf.jpg" alt="All to Play For" height="212" width="800">
      <h2>Co-Produced by OTOXO Productions</h2>
      <p>OTOXO Productions is an award-winning, documentary production company, based in Barcelona. They have 10 years experience making documentaries with vulnerable and marginalised individuals and communities. They have worked with the likes of The Guardian and produced content for TV3, BTV and BCN Mes, as well as featuring in festivals across the world.  </p>
      <br><br>

      <h1>Mescladís Kitchen Promotional Video</h1>
      <div class="project-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ex9Oxca65nA?rel=0" frameborder="0" allow="autoplay" allowfullscreen></iframe>    </div>
      </div>
      <br><br>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.js"></script>
    <script src="javascripts/main.js"></script>

  </body>
</html>
