<!-- copyright 2018 Jordan Campbell for trig productions -->

<!DOCTYPE html>
<html>
  <head>
    <!-- <title>Trig Productions</title> -->
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  </head>

  <body>


    <h1 class="title">trig <br>productions</h1>
    <img class="triangle" src="images/logo_color.png" alt="menu" height="140" width="140">

    <div class="menu">
      <ul>
        <li id="projects">projects</li>
        <li id="people">people</li>
        <li id="contact">contact</li>
        <li id="about">about</li>
      </ul>
    </div>

    <div class="horizontal-container people" id="feministas">

      <div class="grid-item cianna">
        <img class="" src="images/cianna-proper.jpg" alt="cianna" height="615" width="400">
        <h1 class="name-text">cianna</h1>
        <!-- <p>Lorem ipsum dolor sit amet, cu delicata pertinacia sea, eu qui movet lucilius expetenda,
          ne mea fabulas quaerendum. Cu pri esse probo. Eu error facete copiosae vix, eam harum imperdiet ea, assum accusamus patrioque eu eam.</p> -->
      </div>

      <div class="grid-item lindsay">
        <img class="" src="images/lindsay-proper.jpg" alt="lindsay" height="615" width="400">
        <h1 class="name-text">lindsay</h1>
        <!-- <p>Lorem ipsum dolor sit amet, cu delicata pertinacia sea, eu qui movet lucilius expetenda,
          ne mea fabulas quaerendum. Cu pri esse probo. Eu error facete copiosae vix, eam harum imperdiet ea, assum accusamus patrioque eu eam.</p> -->
      </div>

      <div class="grid-item nina">
        <img class="" src="images/nina-proper.jpg" alt="nina" height="615" width="400">
        <h1 class="name-text">nina</h1>
        <!-- <p>Lorem ipsum dolor sit amet, cu delicata pertinacia sea, eu qui movet lucilius expetenda,
          ne mea fabulas quaerendum. Cu pri esse probo. Eu error facete copiosae vix, eam harum imperdiet ea, assum accusamus patrioque eu eam.</p> -->
      </div>

    </div>

    <div class="contact-details" id="details">


      <div class="outer">
      <div class="middle">
        <div class="inner">
          <div class="social">
            <span id="contact-email">trigpds@gmail.com</span>
            <a href="https://www.instagram.com/trig_productions/?hl=en"><img class="" src="images/glyph-logo_May2016.png" alt="insta" height="60" width="60"></a>
            <a href="https://twitter.com/Trig_BCN"><img class="" src="images/Twitter_Social_Icon_Circle_Color.png" alt="twitter" height="60" width="60"></a>
            <a href="https://www.facebook.com/Trig-Productions-1207579712678309/"><img class="" src="images/FB-f-Logo__blue_72.png" alt="facebook" height="60" width="60"></a>
            <a href="https://www.linkedin.com/company/trigproductions/"><img class="" src="images/In-2C-75px-R.png" alt="linkedin" height="60" width="60"></a>
          </div>
        </div>
      </div>
    </div>

      <!-- <div class="social">
        <img class="" src="images/glyph-logo_May2016.png" alt="insta" height="60" width="60">
        <span id="insta-text">Come see our photos!</span>
      </div>
      <div class="social">
        <img class="" src="images/glyph-logo_May2016.png" alt="insta" height="60" width="60">
        <span id="insta-text">Sometimes we Tweet!</span>
      </div>
      <div class="social">
        <span id="contact-email">📧</span>
        <span id="insta-text">trigpds@gmail.com</span>
      </div> -->
    </div>

    <div class="about-section" id="about-trig">
      <p>
        Trig Productions is a Barcelona based production company that specialises in creating commercial and documentary content. We aim to create dynamic and stylised video content highlighting the stories behind the faces and brands that make this city unique.<br><br>

        Co-directors Cianna Canning, Lindsay Hynds and Nina Palmier-Robertson first came together as co-directors in collaboration with OTOXO Productions on 2018 documentary All to Play For (Todo por Jugar). Hooked on Barcelona, they are continuing to bring its vibrant inhabitants to a wider audience and connect to this diverse creative hub.<br><br>

        Please get in touch if you would like to know more about the services we offer or to discuss potential collaborations.<br><br>

      </p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.js"></script>
    <script src="javascripts/main.js"></script>

  </body>
</html>
