<!-- copyright 2018 Jordan Campbell for trig productions -->

<!DOCTYPE html>
<html>
  <head>
    <!-- <title>Trig Productions</title> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  </head>

  <body>


    <h1 class="title">trig <br>productions</h1>
    <img class="triangle" src="images/triangle.svg" alt="menu" height="140" width="140">

    <div class="menu">
      <ul>
        <li id="projects">projects</li>
        <li id="people">people</li>
        <li id="contact">contact</li>
      </ul>
    </div>

    <div class="horizontal-container people" id="feministas">

      <div class="grid-item cianna">
        <img class="" src="images/cianna.jpg" alt="cianna" height="400" width="300">
        <h1 class="name-text">cianna</h1>
        <!-- <p>Lorem ipsum dolor sit amet, cu delicata pertinacia sea, eu qui movet lucilius expetenda,
          ne mea fabulas quaerendum. Cu pri esse probo. Eu error facete copiosae vix, eam harum imperdiet ea, assum accusamus patrioque eu eam.</p> -->
      </div>

      <div class="grid-item lindsay">
        <img class="" src="images/lindsay.jpg" alt="lindsay" height="400" width="300">
        <h1 class="name-text">lindsay</h1>
        <!-- <p>Lorem ipsum dolor sit amet, cu delicata pertinacia sea, eu qui movet lucilius expetenda,
          ne mea fabulas quaerendum. Cu pri esse probo. Eu error facete copiosae vix, eam harum imperdiet ea, assum accusamus patrioque eu eam.</p> -->
      </div>

      <div class="grid-item nina">
        <img class="" src="images/nina.jpg" alt="nina" height="400" width="300">
        <h1 class="name-text">nina</h1>
        <!-- <p>Lorem ipsum dolor sit amet, cu delicata pertinacia sea, eu qui movet lucilius expetenda,
          ne mea fabulas quaerendum. Cu pri esse probo. Eu error facete copiosae vix, eam harum imperdiet ea, assum accusamus patrioque eu eam.</p> -->
      </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.js"></script>
    <script src="javascripts/main.js"></script>

  </body>
</html>
