body {
  background-color: #FBFFFE;
}

.title {
  /* font-family: 'Roboto Mono', monospace; */
  font-family: 'Roboto Mono';
  /* font-family: 'Montserrat', sans-serif; */
  bottom: 0;
  position: fixed;
  margin-bottom: 0.1em;
  padding-left: 40px;
  font-size: 16vh;
  /* color: #0E363D; */
  color: #FBFFFE;
  /*  */
  z-index: -1;
}

.triangle {
  position: absolute;
  right: 0;
  cursor: pointer;
  padding: 10px;
}

#menu-img {
  margin-top: 60px;
  margin-right: 20px;
}

.menu {
  list-style-type: none;
  position: absolute;
  float: center;
  padding: 0;
  /* margin-left: 60px; */
  overflow: hidden;
  width: 90%;
  padding-top: 50px;
  color: #1ABFBC;
  /* border-bottom: 1px solid red; */
  opacity: 0.0;
}

li {
  display: inline-block;
  /* font-family: 'Julius Sans One', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 4vh;
  margin-right: 0.8em;
  /* opacity: 0.0; */
  cursor: pointer;
  /* text-align: center; */
}

/* ul {
  padding-left: -40px;
} */

.horizontal-container {
  display: grid;
  grid-template-columns: 0.3333fr 0.3333fr 0.3333fr;
  grid-template-rows: 0.45fr 0.45fr 0.1fr;
  grid-gap: 10px;
  justify-items: center;
  /* align-items: center; */
  padding-top: 200px;
  /* height: 10vh; */
  /* opacity: 0.0; */
}

.grid-item {
  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Roboto', sans-serif;
  color: #5C9EAD;
  /* padding-left: 100px; */
}

.grid-item img {
  /* padding-left: -50px; */
}

.name-text {
  text-align: center;
  /* font-family: 'Roboto Mono', monospace; */
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  opacity: 0.0;
  font-size: 4em;
  /* transform: translate(0, -1.75em); */
}

#feministas {
  display: none;
}

#collab {
  display: none;
}

#about-trig {
  display: none;
}

#details {
  display: none;
  font-size: 1.8em;
  /* font-family: 'Lora', serif; */
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Roboto', sans-serif;
  color: #5C9EAD;
}

/* .about-section {
  padding-top: 30vh;
  padding-left: 1vw;
  font-size: 1.2em;
  font-family: 'Lora', serif;
  line-height: 2.25em;
  display: table;
  margin: 0 auto;
} */

.about-section {
  padding-top: 28vh;
  padding-left: 1vw;
  font-size: 1.1em;
  /* font-size: 1.6em; */
  /* font-family: 'Lora', serif; */
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Roboto', sans-serif;
  line-height: 2.25em;
  width: 50%;
  display: table;
  margin: 0 auto;
  text-align: center;
}

/* .contact-details {
  padding-top: 20vh;
  padding-left: 4vw;
} */

.social {
  /* style="display: inline-block;" */
  /* height: auto; */
  width: auto;
}

.social img {
  display: inline-block;
  vertical-align: middle;
  padding: 30px;
}

.outer {
  display: table;
  position: absolute;
  height: 80%;
  width: 100%;
  margin-top: 20vh;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  text-align: center;
  /*whatever width you want*/
}

#contact-email {
  display: block;
  vertical-align: middle;
  font-size: 1.6em;
  padding-bottom: 30px;
  /* font-family: 'Julius Sans One', sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Roboto', sans-serif;
}

#insta-text {
  display: inline-block;
  vertical-align: middle;
  /* padding-left: 30px; */
  font-size: 2em;
}

.person-desc {
  /* display: none; */
  opacity: 1.0;
  color: black;
  font-size: 1.1em;
  text-align: center;
  /* font-family: 'Lora', serif; */
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Roboto', sans-serif;
  line-height: 2.1em;
  transform: translate(0, -40px);
  width: 75%;
  padding-left: 60px;
  /* cursor: none; */
}

.collab-section {
  padding-top: 28vh;
  padding-left: 1vw;
  font-size: 1.1em;
  /* font-size: 1.6em; */
  /* font-family: 'Lora', serif; */
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Roboto', sans-serif;
  line-height: 2.25em;
  width: 50%;
  display: table;
  margin: 0 auto;
  text-align: center;
}

.collab-section h2 {
  /* font-family: 'Julius Sans One', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  color: #5C9EAD;
}

.projects {
  padding-top: 28vh;
  padding-left: 1vw;
  font-size: 1.1em;
  /* font-size: 1.6em; */
  /* font-family: 'Lora', serif; */
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Roboto', sans-serif;
  line-height: 2.25em;
  width: 50%;
  display: table;
  margin: 0 auto;
  text-align: center;
}

.projects h1 {
  /* font-family: 'Julius Sans One', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  color: #5C9EAD;
}

.projects h2 {
  /* font-family: 'Julius Sans One', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  color: #5C9EAD;
}

#atpf {
  display: none;
}

.atpf-image {
  transform: translate(-36px, 0);
}

#homepage-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.project-video {
  /* transform: translate(36px,0); */
}
