body {
  background-color: #FBFFFE;
}

.title {
  font-family: 'Roboto Mono', monospace;
  bottom: 0;
  position: fixed;
  margin-bottom: 0.1em;
  padding-left: 40px;
  font-size: 16vh;
  color: #0E363D;
}

.triangle {
  position: fixed;
  right: 0;
  cursor: pointer;
  padding: 10px;
}

.menu {
  list-style-type: none;
  position: fixed;
  float: center;
  padding: 0;
  /* margin-left: 60px; */
  overflow: hidden;
  width: 90%;
  padding-top: 60px;
  color: #1ABFBC;
  /* border-bottom: 1px solid red; */
  opacity: 0.0;
}

li {
  display: inline-block;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 6vh;
  margin-right: 0.8em;
  /* opacity: 0.0; */
  cursor: pointer;
  /* text-align: center; */

}

/* ul {
  padding-left: -40px;
} */

.horizontal-container {
  display: grid;
  grid-template-columns: 0.3333fr 0.3333fr 0.3333fr;
  justify-items: center;
  align-items: center;
  padding-top: 200px;
  height: 75vh;
  /* opacity: 0.0; */
}

.grid-item {
  font-family: 'Lato', sans-serif;
  color: #5C9EAD;
}

.name-text {
  text-align: center;
}


#feministas {
  display: none;
}

#about-trig {
  display: none;
}

#details {
  display: none;
  font-size: 1.8em;
  font-family: 'Lora', serif;
  color: #5C9EAD;
}


.about-section {
  padding-top: 16vh;
  padding-left: 1vw;
  font-size: 1.6em;
  font-family: 'Lora', serif;
  line-height: 2.25em;
  width: 50%;
  display: table;
  margin: 0 auto;
}

/* .contact-details {
  padding-top: 20vh;
  padding-left: 4vw;
} */

.social {
  /* style="display: inline-block;" */
  /* height: auto; */
  width: auto;
}

.social img {
  display: inline-block;
  vertical-align: middle;
  padding: 30px;
}

.outer {
  display: table;
  position: absolute;
  height: 80%;
  width: 100%;
  margin-top: 20vh;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  text-align: center;
  /*whatever width you want*/
}

#contact-email {
  display: block;
  vertical-align: middle;
  font-size: 2em;
  padding-bottom: 30px;
  font-family: 'Julius Sans One', sans-serif;
}

#insta-text {
  display: inline-block;
  vertical-align: middle;
  /* padding-left: 30px; */
  font-size: 2em;
}
